.grid-container {
    display: grid;
    
    grid-template-columns: 4fr 4fr 2fr;
    grid-template-rows: 4fr 2fr 2fr 4fr;
    /* Define grid areas */
    grid-template-areas:
      "importantText importantText gamesCarousel"
      "separation separation separation"
      "howItWorks howItWorks howItWorks"
      "gho_info gho_info gho_info"
      "footer footer footer";

      grid-gap: 3%;
      padding:2%;
    }
  
 
  
  .importantText {
    grid-area: importantText; /* Assign to the "importantText" grid area */
    color : rgb(255,127,80);
    padding: 20px;
    display:flex ;
    flex-direction: column;
    justify-content: center;

  }
  .mainText {
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
    margin-bottom: 10px; /* Spacing at the bottom */
  }
  .subText {
    font-size: 18px; /* Font size */
    
    margin-bottom: 10px; /* Spacing at the bottom */
  }
  
  /* Styling for the callToAction */
  .callToAction {
    font-size: 20px; /* Font size */
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Border radius */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
  }
  
  .callToAction:hover {
    background-color: #555; /* Background color on hover */
  }
  .gamesCarousel {
    display:flex;
    grid-area: gamesCarousel; /* Assign to the "gamesCarousel" grid area */
   
    padding: 20px;
  }

  .separation {
    grid-area: separation; /* Assign to the "separation" grid area */
   
    padding: 10px;
  }

  .howitworks {
    grid-area: howItWorks; /* Assign to the "separation" grid area */
   
    padding: 10px;
  }
  
  .gho_info {
    grid-area: gho_info; /* Assign to the "gho_info" grid area */
   
    padding: 20px;
  }
  .footer {
    grid-area: footer; /* Assign to the "footer" grid area */
   
    padding: 20px;
  }
  