.grid-container {
    display: grid;
    
    grid-template-columns: 4fr 4fr 2fr;
    grid-template-rows: 3fr 2fr 2fr 2fr 0.2fr;
    /* Define grid areas */
    grid-template-areas:
      "importantText importantText gamesCarousel"
      "teamSection teamSection teamSection"
     
      "how-it-works-container how-it-works-container how-it-works-container"
      "gho_info gho_info gho_info"
      "footer footer footer";

      grid-gap: 3%;
      padding:2%;
      background: linear-gradient(180deg, rgba(5,5,5,1) 25%, rgba(255,136,0,1) 100%);
    }
  
 
  
  .importantText {
    grid-area: importantText; /* Assign to the "importantText" grid area */
    color : rgb(255,127,80);
    padding: 20px;
    display:flex ;
    flex-direction: column;
    justify-content: center;

  }
  .mainText {
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
    margin-bottom: 10px; /* Spacing at the bottom */
  }
  .subText {
    font-size: 18px; /* Font size */
    
    margin-bottom: 10px; /* Spacing at the bottom */
  }
  
  /* Styling for the callToAction */
  .callToAction {
    font-size: 20px; /* Font size */
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Border radius */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
  }
  
  .callToAction:hover {
    background-color: #555; /* Background color on hover */
  }
  .gamesCarousel {
    display:flex;
    grid-area: gamesCarousel; /* Assign to the "gamesCarousel" grid area */
   
    padding: 20px;
  }


  .how-it-works-container {
    grid-area: how-it-works-container; /* Assign to the "separation" grid area */
   
    padding: 10px;
  }
  
  .gho_info {
    grid-area: gho_info; /* Assign to the "gho_info" grid area */
   
    padding: 20px;
  }

  .teamSection {
    grid-area: teamSection; 
    text-align: center; /* Center-aligns the title and team members */
    margin-bottom: 30px; /* Adds space below the entire team section */
  }
  
  .teamMembers {
    display: flex; /* Aligns items in a row */
    justify-content: center; /* Centers items horizontally */
    gap: 80px; /* Adds space between items */
    background-color: #000000;
    padding: 2%;
    border-radius: 10px;

  }
  
  .teamMember {
    flex: none; /* Prevents flex items from growing or shrinking */

  }
  
  .roundImage {
    border-radius: 50%; /* Makes the image round */
    width: 200px; /* Sets a fixed width */
    height: 200px; /* Sets a fixed height */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    box-shadow:  rgb(255,127,80) 0px 0px 20px;
    transition: filter 0.3s ease;
  }
  .roundImage:hover {
    filter: blur(3px);
  }
  .memberName {
    margin-top: 10px; /* Adds space between the image and the name */
    font-size: 20px; /* Adjusts the font size */
    color:  rgb(255,127,80); /* Sets the text color */
  }
  .teamTitle {
    font-size: 48px; /* Sets a large font size for the title */
    color: rgb(255,127,80); /* Sets the text color */
    margin-bottom: 20px; /* Adds space below the title */
    font-weight: bold;
  }
  .footer {
    grid-area: footer; /* Assign to the "footer" grid area */
   
    padding: 20px;
  }
  /* how_it_works.css */

.how-it-works-container {
    
    padding: 2.5rem; /* Tailwind's p-10 */
    color: white;
    border-radius: 0.5rem; /* Tailwind's rounded-lg */
   
  }
  
  .how-it-works-title {
    font-size: 2rem; /* Tailwind's text-3xl */
    font-weight: bold; /* Tailwind's font-bold */
    margin-bottom: 1.5rem; /* Tailwind's mb-6 */
    text-decoration: underline;
  }
  
  .how-it-works-heading {
    font-size: 1.5rem; /* Tailwind's text-xl */
    margin-bottom: 3rem; /* Tailwind's mb-4 */
  }
  
  .how-it-works-subheading {
    font-size: 1rem; /* Tailwind's text-lg */
    margin-bottom: 1rem; /* Tailwind's mb-4 */
  }
  
  .how-it-works-list {
    display: flex;
    gap:2em;
    list-style-type: disc;
    padding-left: 2rem; /* Tailwind's list-inside is similar */
    margin-bottom: 0.5rem; /* Space between list items, similar to Tailwind's space-y-2 */
  }
  
  .how-it-works-list-item {
    margin-bottom: 0.5rem; /* Space between list items, similar to Tailwind's space-y-2 */
  }
  
.simple {
    font-weight: bold; /* Make it bold */
    color: rgb(34,139,34);/* Give it a distinctive color */
    font-size:2rem; /* Make the font size larger than the surrounding text */
    margin-top: 0.5rem; /* Add some space above the emphasis text */
  }
  
  /* You can also add a class for the 'Expert' text if you want it to be styled differently */
  .expert {
    font-weight: bold; /* Make it bold */
    color: rgb(255,127,80); /* Different color for expert */
    font-size: 2rem; /* Same larger font size for consistency */
    margin-top: 0.5rem; /* Add some space above the emphasis text */
  }
  
  .teamMember {
    position: relative; /* Ensure the container is relatively positioned */
    /* ... other styles ... */
  }
  
  .teamMember .roundImage {
    /* ... existing styles ... */
    transition: filter 0.3s ease;
    z-index: 1; /* Ensure the image is above the pseudo-element */
  }
  
  .teamMember::after {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%; /* Cover the entire container */
    height: 100%; /* Cover the entire container */
    background: url('/images/linkedin_logo.png') no-repeat center center; /* Use the correct path */
    background-size: 30%; /* Adjust size of logo */
    opacity: 0; /* Logo is invisible initially */
    transition: opacity 0.3s ease;
    z-index: 2; /* Bring it in front of the image */
    pointer-events: none; 
  }
  
  .teamMember:hover::after {
    opacity: 1; /* Shows the GHO logo on hover */
  }
  
  .teamMember:hover .roundImage {
    filter: blur(3px); /* Blurs the image on hover */
  }
  